# debug with sudo journalctl -xeu assistonto.service
# or with docker exec -it <container-id> python
[Unit]
Description=Gunicorn serving AssistOnto (container)
After=network.target
After=nginx.service

[Service]
WorkingDirectory=/opt/assistonto
Restart=always
# run before
ExecStart=/usr/bin/docker start -a assistonto_server
ExecStop=/usr/bin/docker stop -t 5 assistonto_server
RestartSec=6
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
