{% extends "base.html" %}

{% from 'message.html' import message %}
{% from 'ainame.html' import ai_choice %}

{% block content %}
<script defer="true" src="{{url_for('static', filename='main.js')}}" type="text/javascript"></script>
<div class="flex-row">
  <div id="ai-chat" class="flex-column">
    <div id="messages" class="flex-column">
      {% for msg in chat_messages %}
      {{ message(msg.id, 'user' if msg.user_msg else 'assistant', msg.content, 'AI' if not msg.user_msg else None) }}
      {% endfor %}
    </div>
    <div id="ai-input" class="flex-row">
      <textarea id="userInput" class="input"
                name="user_message"
                placeholder="Message assistant"></textarea>
      <button id="userInputButton"
              class="button"
              hx-post="{{url_for('message_new')}}"
              hx-trigger="click delay:50ms"
              hx-include="#userInput, #ainame"
              hx-target="#messages"
              hx-swap="beforeend"
              >➢</button> <!-- TODO: use https://raw.githubusercontent.com/SamHerbert/SVG-Loaders/master/svg-loaders/rings.svg -->
      {{ai_choice(ainame)}}
      <span class="nodisplay"
            {# element used solely for triggering another event on click #}
            hx-post="{{url_for('render_user_message')}}"
            hx-trigger="click from:#userInputButton"
            hx-include="#userInput"
            hx-target="#messages"
            hx-swap="beforeend"
            ></span>
    </div>
  </div>
  <div id="ontology-editor">
    <!-- TODO: industrial grade options: quill, ace editor, monaco, codejar, codemirror 6 -->
    <textarea id="ontology" class="input" name="user_ontology" data-changed="false" placeholder="# Your ontology goes here"></textarea>
  </div>
</div>
{% endblock %}
