<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AssistOnto — {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
    {% if config['DEBUG'] %}
    <script src="{{url_for('static', filename='htmx.js')}}"></script>
    {% else %}
    <script src="{{url_for('static', filename='htmx.min.js')}}"></script>
    {% endif %}
    <script src="{{url_for('static', filename='hyperscript.min.js')}}"></script>
  </head>
  <body>
    <nav class="nopadding nomargin borderbox">
      <ul class="nobullet flex-row gap1em flex-justify-end">
        <li class="auto-margin-right">
          <a class="nodecor sm-padding" href="{{ url_for('index') }}">
            AssistOnto
          </a>
        </li>
        {% if g._user_id|default(None) is none %}
        <li>
          <a class="nodecor sm-padding" href="{{url_for('view_login')}}">
            Log In
          </a>
        </li>
        <li>
          <a class="nodecor sm-padding" href="{{url_for('view_register')}}">
            Register
          </a>
        </li>
        {% else %}
        <li>
          <a class="nodecor sm-padding less-emphasis" href="{{url_for('index')}}">{{ g._username }}</a>
          <a class="nodecor sm-padding clickable" _="on click remove .closing from #settings-modal then show #settings-modal with visibility" title="Settings">⚙</a>
          <a class="nodecor sm-padding" href="{{url_for('logout')}}">Log Out</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% if header %}
    <header class="flex">
      {% block header %}{% endblock %}
    </header>
    {% endif %}
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <section>
      <ul class="nobullet">
        {% for (cat, message) in messages %}
        <li {% if cat in ['warning', 'error'] %}class="more-emphasis"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    </section>
    {% endif %}
    {% endwith %}

    <section class="content">{% block content %}{% endblock %}</section>
  </body>
</html>
