{% extends "base.html" %}

{% block header %}
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="POST" action="{{url_for('post_register')}}">
  <label>Username:</label>
  <input class="block" type="text" name="input-username" minlength="6">

  <label>Email:</label>
  <input class="block" type="email" name="input-email">

  <label>Password:</label>
  <input class="block" type="password" name="input-password" minlength="6">

  <button class="block" type="submit">Log In</button>
</form>
{% endblock %}
