{% extends "base.html" %}

{% block header %}
<h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="POST" action="{{url_for('post_login')}}">
  <div>
    <label>Username:</label>
    <input class="input" type="text" name="input-username" minlength="6">
  </div>
  <div>
    <label>Password:</label>
    <input class="input" type="password" name="input-password" minlength="6">
  </div>
  <input type="hidden" name="next-url" value="{{ request.args.get('next', '') }}"/>
  <button class="button" type="submit">Log In</button>
</form>
<div>
  No user? Please <a href={{url_for('view_register')}}>register</a>
</div>
{% endblock %}
