{% macro message(message_id, role, content, name, system_message) -%}
<div data-role="{{role}}">
  {% if name is not none %}
  <div class="font-semibold">{{name}}</div>
  {% endif %}
  <div>{{sane_markdown(content)|safe}}</div>
  <ul class="nobullet flex-row gap1em flex-justify-start font-sm">
    {% if role == 'assistant' %}
    <li>
      <details>
        <summary class="nobullet sm-padding">(source)</summary>
        <pre>
          {{content}}
        </pre>
      </details>
    </li>
    {% endif %}
    {% if system_message is not none %}
    <li>
      <details>
        <summary class="nobullet sm-padding">(system)</summary>
        <pre>
          {{system_message}}
        </pre>
      </details>
    </li>
    {% endif %}
    {% if message_id is not none %}
    <li>
      <a class="nodecor sm-padding clickable"
         hx-trigger="click"
         hx-get="{{url_for('message_delete')}}"
         hx-vals='{"message_id": {{message_id | tojson}}}'
         hx-target="closest div[data-role]"
         hx-swap="outerHTML" title="Delete">(delete)</a>
    </li>
    {% endif %}
  </ul>
</div>
{%- endmacro %}
