:root {
    --color-background: #fafafa;
    --color-pair: lightgray;
    --color-text: #16161d;
    --color-emphasis-darker: maroon;
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
    --chat-input-height: 7em;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin-inline: auto;
    min-height: 95vh;
    color: var(--color-text);
    background-color: var(--color-background);
    font-size: min(22px, max(16px, 2.4vw));
    font-family: system-ui, sans-serif;
    line-height: 1.5;

}

div#ai-chat {
    max-width: 50vw;
    flex: 1;
    margin-inline: 1em;
}

div#messages {
    width: 95%;
    margin-inline: 1em;
    overflow-y: scroll;
    height: calc(95vh - 7em);
}

div#messages > div {
  padding: 0.4em;
}

div#messages > div[data-role="user"] {
    align-self: end;
    margin-left: 2em;
    width: fit-content;
    background-color: var(--color-pair);
    border-radius: 0.3em;
}

.nodisplay {
    display: none;
}

#ai-input {
    margin-top: 1em;
}

#userInput {
    width: 90%;
    max-height: var(--chat-input-height);
    margin-right: 0.5em;
}

div#ontology-editor {
    flex: 1;
}

textarea#ontology {
    height: 90vh;
    width: 95%;
}

textarea {
    resize: none;
    overflow: auto;
}

.nomargin {
    margin: 0;
}

.auto-margin-right {
    margin-right: auto;
}

.nobullet {
  list-style-type: none;
}

.nodecor {
    text-decoration: none;
}

.sm-padding {
    padding: 0.2em 0.55em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.font-semibold {
    font-weight: 600;
}

.borderbox {
    box-sizing: border-box;
}

.gap1em {
    gap: 1em;
}

button.button {
    border: none;
    background-color: var(--color-pair);
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3em;
    padding: 0.25em 0.75em;
    min-width: 10ch;
    width: fit-content;
    min-height: 44px;
    text-align: center;
    line-height: 1.1;

    @media screen and (-ms-high-contrast: active) {
        /* windows high-contrast mode shenanigans */
        border: 2px solid currentcolor;
    }
}

.input {
    font-size: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    transition: 180ms box-shadow ease-in-out;
}

.input:not(textarea) {
    line-height: 1;
    height: 2.25rem;
}

.input:focus {
    border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
    box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) + 40%), 0.8);
}

p,
li,
h1,
h2,
h3,
h4 {
    /* Help prevent overflow of long words/names/URLs */
    overflow-wrap: break-word;

    /* Optional, not supported for all languages */
    hyphens: auto;
}

pre {
    white-space: pre;
    overflow-x: auto;
}

.less-emphasis {
    color: var(--color-pair);
}


.more-emphasis {
    color: var(--color-emphasis-darker);

}
