:root {
    --color-background: #fafafa;
    --color-pair: lightgray;
    --color-text: #16161d;
    --color-emphasis-darker: maroon;
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
    --chat-input-height: 7em;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin-inline: auto;
    min-height: 95vh;
    color: var(--color-text);
    background-color: var(--color-background);
    font-size: min(22px, max(16px, 2.4vw));
    font-family: system-ui, sans-serif;
    line-height: 1.5;

}

div#ai-chat {
    max-width: 50vw;
    flex: 1;
    margin-inline: 1em;
}

div#messages {
    width: 95%;
    margin-inline: 1em;
    overflow-y: scroll;
    height: calc(95vh - 7em);
}

div#messages > div {
  padding: 0.4em;
}

div#messages > div[data-role="user"] {
    align-self: end;
    margin-left: 2em;
    width: fit-content;
    background-color: var(--color-pair);
    border-radius: 0.3em;
}

.nodisplay {
    display: none;
}

#ai-input {
    margin-top: 1em;
}

#userInput {
    width: 90%;
    max-height: var(--chat-input-height);
    margin-right: 0.5em;
}

div#ontology-editor {
    flex: 1;
}

textarea#ontology {
    height: 90vh;
    width: 95%;
}

textarea {
    resize: none;
    overflow: auto;
}

.nomargin {
    margin: 0;
}

.auto-margin-right {
    margin-right: auto;
}

.nobullet {
  list-style-type: none;
}

.nodecor {
    text-decoration: none;
}

.sm-padding {
    padding: 0.2em 0.55em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.font-semibold {
    font-weight: 600;
}

.borderbox {
    box-sizing: border-box;
}

.gap1em {
    gap: 1em;
}

.clickable {
    cursor: pointer;
}

button.button {
    border: none;
    background-color: var(--color-pair);
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3em;
    padding: 0.25em 0.75em;
    min-width: 10ch;
    width: fit-content;
    min-height: 44px;
    text-align: center;
    line-height: 1.1;

    @media screen and (-ms-high-contrast: active) {
        /* windows high-contrast mode shenanigans */
        border: 2px solid currentcolor;
    }
}

.input {
    font-size: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    transition: 180ms box-shadow ease-in-out;
}

.input:not(textarea) {
    line-height: 1;
    height: 2.25rem;
}

.input:focus {
    border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
    box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) + 40%), 0.8);
}

p,
li,
h1,
h2,
h3,
h4 {
    /* Help prevent overflow of long words/names/URLs */
    overflow-wrap: break-word;

    /* Optional, not supported for all languages */
    hyphens: auto;
}

pre {
    white-space: pre;
    overflow-x: auto;
}

.less-emphasis {
    color: var(--color-pair);
}


.more-emphasis {
    color: var(--color-emphasis-darker);

}

.modal {
	/* Underlay covers entire screen. */
	position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	background-color:rgba(0,0,0,0.5);
	z-index:1000;

	/* Flexbox centers the .modal-content vertically and horizontally */
	display:flex;
	flex-direction:column;
	align-items:center;

	/* Animate when opening */
	animation-name: fadeIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

.modal > .modal-underlay {
	/* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
	position: absolute;
	z-index: -1;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;
}

.modal > .modal-content {
	/* Position visible dialog near the top of the window */
	margin-top:10vh;

	/* Sizing for visible dialog */
	width:80%;
	max-width:600px;

	/* Display properties for visible dialog */
	border:solid 1px #999;
	border-radius:8px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	background-color: var(--color-background);
	padding:20px;

	/* Animate when opening */
	animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

.modal.closing {
	/* Animate when closing */
	animation-name: fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

.modal.closing > .modal-content {
	/* Animate when closing */
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes zoomIn {
	0% {transform: scale(0.9);}
	100% {transform: scale(1);}
}

@keyframes zoomOut {
	0% {transform: scale(1);}
	100% {transform: scale(0.9);}
}
